body{
    text-align:center;
    background-image: url(large.5aeb1fd71ff3d_DittoDancing.gif.08cc659ac16780c7a07d44534a019d22.gif);
    background-color: #00FF7F;
    background-size: 40px;
    background-repeat: no-repeat;
    width: 100%;
}
.titulo{
    font-family: 'Times New Roman', Times, serif;
}
.text{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.entrar{
    border-radius: 18px;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.salvar{
    border-radius: 18px;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.button {
    display: inline-block;
    border-radius: 4px;
    border: none;
    background-image: url(200w.gif);
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.buttonCadastro{
    border-radius: 18px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}
.botão{
    background-color: #90EE90;
}
.forms{
    background-color: #c2fdc2;
    margin-bottom: 10px;
}