<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./static/design.css"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Professor</title>
</head>
<body>
    <div class="centraliza_div">
        <div class="login_div">
            <h1 style="font-size: 50px;">LOGIN</h1>
            <form method="POST">
                <label for="usuario" class="text">Usuario:</label><br>
                <input type="text" id="usuario" name="nome" placeholder="Nome" class="input_login"><br>
                <label for="senha" class="text">Senha:</label><br>
                <input type="password" id="senha" name="senha" placeholder="Senha" class="input_login"><br>
                <button class="button"><span>Entrar</span></button><br>
            </form>
        </div>
    </div>
</body>
</html>