<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./static/design.css"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <div class="centraliza_div">
        <h1 style="font-family: Georgia, serif; font-size: 50px;">Inicio</h1>
        <div class="inicial_div">
            <form method="POST">
                <button name="botao" class="botao" value="login">Login do professor</button>
                <button name="botao" class="botao" value="tarefas">Tarefas</button>
            </form>
        </div>
    </div>
</body>
</html>