<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./static/design.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medias</title>
</head>
<body>
    <div class="centraliza_div">
        <h1>MEDIAS</h1>
        <div class="medias_div">
            <h2>DRE--Media</h2>
            <p>(Verifique a sua media a partir do seu DRE)</p>
            <pre style="font-size: 20px;">{{ conteudo }}</pre>
        </div>
    </div>
</body>
</html>