<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./static/design.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecionamento</title>
</head>
<body>
    <div class="centraliza_div">
        <h1 style="font-family: Georgia, serif; font-size: 50px;">O que deseja?</h1>
        <div class="inicial_div">
            <div class="centralizaBotoes_div">
                <form method="POST">
                    <button name="botao" class="botao" value="tarefa">Cadastrar tarefas</button>
                    <button name="botao" class="botao" value="notas">Cadastrar notas</button>
                    <button name="botao" class="botao" value="voltar">Voltar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>