body{
    background-color: rgb(182, 205, 237);
}
.centraliza_div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.inicial_div{
    width: 500px;
    height: 370px;
    text-align: center;
    background-color: rgb(132, 160, 199);
}
.login_div{
    width: 500px;
    height: 340px;
    text-align: center;
    border-radius: 18px;
    background-color: rgb(132, 160, 199);
    box-shadow:  inset 0 0 2em rgb(176, 209, 255);
}
.botao{
    font-size: 18px;
    cursor: pointer;
}