<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./static/estilo.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body class="corpoDoTexto">
    <h1 class="titulo">ECA-MAIL</h1>
    <h2 class="titulo">Cadastro</h2>

    <form method="POST">
        <label for="nome" class="text">Nome:</label><br>
        <input type="text" minlength="2" id="nome" name="nome" placeholder="Nome" class="forms"><br>
        <label for="senha" class="text">Usuario:</label><br>
        <input type="text" minlength="4" maxlength="12" id="nome" name="cpf" placeholder="CPF" class="forms"><br>
        <label for="senha" class="text">Senha:</label><br>
        <input type="password" minlength="4" maxlength="8" id="senha" name="senha" placeholder="Senha" class="forms"><br>
        <button class="button" name="bot" value="cadastrar"><span>Cadastrar</span></button>
    </form>
</body>
</html>