<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./static/estilo.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1 class="titulo">ECA-MAIL</h1>
    <h2 class="titulo">Login</h2>

    <form action="/login" method="get">
        <label for="nome" class="text">Nome:</label><br>
        <input type="text" id="nome" name="nome" placeholder="Nome"><br>
        <label for="senha" class="text">Usuario:</label><br>
        <input type="text" id="nome" name="cpf" placeholder="CPF"><br>
        <label for="senha" class="text">Senha:</label><br>
        <input type="password" id="senha" name="senha" placeholder="Senha"><br>
        <button class="button" name="bot" value="cadastrar"><span>Cadastrar</span></button>
    </form>
</body>
</html>