<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./static/estilo.css">
    <title>Login</title>
</head>
<body>
    <h1 class="titulo">ECA-MAIL</h1>
    <div>
        <div>
            <h2 class="titulo">Login</h2>
            <form method="POST">
                <label for="usuario" class="text">Usuario:</label><br>
                <input type="text" id="usuario" name="Nome" placeholder="Nome" class="forms"><br>
                <label for="senha" class="text">Senha:</label><br>
                <input type="password" id="senha" name="Senha" placeholder="Senha" class="forms"><br>
                <button class="button"><span>Entrar</span></button><br>
            </form>
            <p>Não tem conta ainda?</p>
            <button class="buttonCadastro">Cadastrar</button>
        </div>
    </div>
</body>
</html>