<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./static/estilo.css">
    <title>main</title>
</head>
<body>
    <h1 class="titulo">ECA-MAIL</h1>

    <form action="/login" method="POST">
        <label for="Login" class="text">Login:</label><br>
        <button class="button" name="botao" value='logar'><span>Logar</span></button><br>
    </form>
    <form action="/cadastro" method="POST">
        <label for="cadastro" class="text">Cadastro:</label><br>
        <button class="button" name="botao" value="cadastrar"><span>Cadastrar</span></button><br>
    </form>
</body>
</html>