<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./static/dadosEstilo.css">
    <title>Carta</title>
</head>
<body>
    <a href="https://matias.ma/nsfw/">
        <div class="Ditto">

        </div>
    </a>
    <h1 class="titulo">Escreva a sua carta</h1>

    <div class="container">
    <div class="caixa">
    <form method="POST">
        <label for="data" class="text">Data:</label>
        <input type="date" id="data" name="data" class="forms"><br>
        <label for="destinatario" class="text">Destinatário:</label>
        <input type="text" id="destinatario" name="destinatario" placeholder="Nome"class="forms"><br>
        <label for="mensagem" class="text">Mensagem:</label><br>
        <textarea id="mensagem" name="mensagem" placeholder="Corpo da carta" minlength="5"></textarea><br>
        <label for="remetente" class="text" placeholder="Nome">Remetente:</label>
        <input type="text" id="remetente" name="remetente" placeholder="Nome"class="forms"><br>
        <button class="salvar">Salvar</button>
    </form>
    </div>
    </div>
</body>
</html>